.event-card {
  width: 300px;
  background: #da0f0f;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  overflow: hidden;
  position: relative;
  font-family: Arial, sans-serif;
 

}

.event-top {
  position: absolute;
  top: 10px;
  right: 10px;
}

.live-badge {
  background: #999;
  color: #fff;
  font-size: 12px;
  padding: 4px 10px;
  border-radius: 12px;
}

.event-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.event-body {
  padding: 15px;
}

.event-body h3 {
  margin: 0;
  font-size: 18px;
}

.desc {
  font-size: 14px;
  color: #555;
  margin: 8px 0;
}

.seat {
  margin: 10px 0;
  font-weight: bold;
}

.join-btn {
  width: 100%;
  background: purple;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  pointer-events: auto;
  position: relative;
  z-index: 10;
}

.leave-btn {
  width: 100%;
  background: #ddd;
  color: #333;
  border: none;
  padding: 10px;
  border-radius: 20px;
}
